@icon: '../icon';

.ui-user-header {
    background-image: url('@{icon}/user-header.svg');
    background-size: 100% 100%;
}

.ui-icon-10 {
    width: 10px;
    height: 10px;
}

.ui-icon-20 {
    width: 20px;
    height: 20px;
}

.ui-icon-30 {
    width: 30px;
    height: 30px;
}

.ui-icon-40 {
    width: 40px;
    height: 40px;
}

.ui-icon-50 {
    width: 50px;
    height: 50px;
}

.ui-icon-200 {
    width: 200px;
    height: 200px;
}


.ui-action-icon {
    background-image: url('@{icon}/action-icon.svg');
    background-size: 100% 100%;
}

.ui-action-picture {
    background-image: url('@{icon}/action-picture.svg');
    background-size: 100% 100%;
}

.ui-action-vedio {
    background-image: url('@{icon}/action-vedio.svg');
    background-size: 100% 100%;
}

.ui-icon-delete {
    background-image: url('@{icon}/delete.svg');
    background-size: 100% 100%;
}

.ui-icon-profile {
    background-image: url('@{icon}/action-profile.svg');
    background-size: 100% 100%;
}

.ui-icon {
    display: block;
}

.ui-icon-session {
    background-image: url('@{icon}/session.svg');
    background-size: 100% 100%;
}

.ui-icon-session-active {
    background-image: url('@{icon}/session-active.svg');
    background-size: 100% 100%;
}

.ui-icon-friends {
    background-image: url('@{icon}/friends.svg');
    background-size: 100% 100%;
}

.ui-icon-relation {
    background-image: url('@{icon}/relation.svg');
    background-size: 100% 100%;
}

.ui-icon-relation-active {
    background-image: url('@{icon}/relation-active.svg');
    background-size: 100% 100%;
}

.ui-icon-request {
    background-image: url('@{icon}/request.svg');
    background-size: 100% 100%;
}

.ui-icon-add {
    background-image: url('@{icon}/action-add.svg');
    background-size: 100% 100%;
}

.m-r-10 {
    margin-right: 10px;
}
