.content-body {
    border: 1px solid black;
    height: 100%;
    width: 100%;

     > .list-body {
        width: 20%;
        z-index: 1000;
    
        > .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 20px;
            border: 1px solid black;
        }
    
        > ul {
            margin: 0;
            display: flex;
            align-content: center;
            height: 40px;
            border: 1px solid black;

            > li {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;
                border-right: 1px solid black;

                > a {
                    text-decoration-line: none;
                    color: black;
                }
            }
        }
    }
    
    .list-content {
        width: 100%;
        height: 100%;
        
        > .pannel-body {
            display: flex;
            height: 100%;

            .pannel-list {
                width: 20%;
                height: 100%;
                overflow-y: scroll;

                border: 1px solid black;
            
                > .user-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px 20px 10px 20px;
                    border-bottom: 1px solid;
            
                    > .item-left {

                        i {
                            display: block;
                        }

                        > img {
                            height: 40px;
                            width: 40px;
                        }
                    }
            
                    > .item-right {
                        > .title {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                    }
                }
            
                > .active {
                    background-color: gainsboro;
                }
            }

            .pannel-content {
                width: 80%;

                .body {
                    width: 80%;
                    position: absolute;
                    top: 0;
                    right: 0;

                    > .profile {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        > .profile-img {
                            width: 200px;
                            height: 200px;
                        }

                        > .profile-name {
                            height: 50px;
                            display: flex;
                            align-items: center;
                        }
                    }

                    .el-footer {
                       padding: 10px 10px;
                       height: 150px;

                       .message-textarea {
                            .message-action {
                                display: flex;
                            }
                        
                            .message-send {
                                position: absolute;
                                right: 0;
                            }
                        
                            .el-textarea__inner {
                                border: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal-box {
    z-index: 1000;
    top: 25%;
    left: 25%;
    width: 50%;
    max-height: 50%;
    position: fixed;
    background-color:white;
    padding: 20px 20px;
    border: 1px solid black;
}

.modal-header {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-item {
    min-height: 100px;
    max-height: 150px;
    padding: 20px 20px;
    overflow-y: auto;
}

.user-list {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}